
:root {
  --font-family-base: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  
  body {
    font-family: var(--font-family-base);
  }

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  
  --primary-color: #0F1136;
  --primary-color-hover: #333454;
  --secondary-color: #3338C1;
  --secondary-color-hover: #3B40E2;
  --dark-grey: #4C4D69;
  --light-grey: #D6D6DD;
  --ultra-light-grey: #F4F4F4;
  --middle-grey: #87889C;
  --white: #ffff;
  --warning: #F06161;

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sb-show-main.sb-main-centered #storybook-root {
  padding: 0 !important;
}

}
